@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #060013;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form-label {
  color: white;
  font-family: Copperplate, Papyrus, fantasy;
}
::-webkit-input-placeholder {
  text-align: center;
}
.btn {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #ffdd02;
  color: #000;
  cursor: pointer;
  width: 200px;
  align-self: center;
  border-width: 1px;
}
.values{
  width: 2.7rem;
  height: 1.4rem;
  background-color: #06001300;
  border-color: #06001300;
  color: #fff;
}
#headtitle {
  font-size: 55px;
}
